@media (max-width: 1000px) {
    /* section */
    .app-section {
        padding: 64px 40px;
    }

    .app-section-content-container {
        padding-inline: 145px;
    }
}


@media (max-width: 955px) {
    /* header */
    header {
        padding-inline: 40px;
    }
    .app-header-search-form {
        display: none;
    }

    .app-header-search-mini {
        display: block;
    }
}