@media (max-width: 361px) {
    header {
        padding-inline: 8px;
    }

    .app-header-button-cart {
        padding: 7px;
    }

    .app-header-button-login {
        width: 32px;
        height: 32px;
        padding: 0;
    }

    .app-header-button-login-icon {
        display: block;
    }

    .app-header-button-login-text {
        display: none;
    }
}